/* Normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

a {
    background-color: transparent;
}

img {
    border-style: none;
}

/* page styling */
:root {
    --light: #e0dfd5ff;
    --dark: #2f3537ff;
    --accent-one: #3f826dff;
    --accent-two: #a27e8eff;
}

body {
    background-color: var(--light);
    display: grid;
    font-family: 'Poppins', sans-serif;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    width: 1250px;
}

.on-click:active,
li:active {
    transform: scale(.97);
}

header {
    display: flex;
    flex-direction: row-reverse;
    grid-column: 1/4;
    grid-row: 1;
    height: 500px;
    justify-content: space-between;
    margin: auto;
    width: 1250px;
}

.header-image {
    height: auto;
    margin: auto;
    position: absolute;
    width: 1250px;
    z-index: -1;
}

.nav {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 70%;
    width: 40em;
}

.nav li {
    background-color: var(--light);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: x-large;
    list-style: none;
    padding: .5em;
    text-transform: uppercase;
}

.small-nav {
    display: none;
}

.small-nav img {
    background: var(--light);
    border-radius: 25%;
    cursor: pointer;
    height: auto;
    margin-left: 3em;
    margin-top: 3em;
    max-width: 35px;
    padding: 1em;
}

.header-right {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login {
    align-self: flex-end;
    background-color: var(--dark);
    border: 2px solid var(--light);
    border-radius: 20px;
    color: var(--light);
    cursor: pointer;
    margin-right: 1em;
    padding: 2px;
    text-align: center;
    width: 7em;
}

.logo-area {
    align-items: center;
    background-color: var(--dark);
    border: 2px solid var(--light);
    border-radius: 5px;
    color: var(--light);
    display: flex;
    flex-direction: row;
    margin: 1em;
    padding: 1em;
}

.logo-name {
    font-size: larger;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
}

.logo {
    background-color: var(--light);
    border-radius: 25%;
    margin: 1em;
    max-width: 70px;
    padding: 1em;
}

.title-large {
    grid-row: 2;
    align-self: center;
}

.logo-title-small {
    display: none;
    grid-row: 2;
    margin-top: 1em;
}

h1 {
    color: var(--dark);
}

.card-container {
    display: grid;
    grid-gap: 1em;
    grid-row: 3;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    margin: auto;
    padding-bottom: 3em;
    width: 100%;
}

.card {
    border: 1px solid var(--dark);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 var(--dark);
    position: relative;
    width: 100%;
}

.card-views,
.card-views-count {
    font-weight: 700;
    position: absolute;
    right: 1em;
    text-shadow: 0 0 2px #ffffff, 0 0 3px #ffffff;
    top: 0;
    z-index: -1;
}

.card-views-count {
    top: 1em;
}

.animal-picture {
    height: 220px;
    position: absolute;
    width: 300px;
    z-index: -1;
}

.animal-icon {
    background-color: var(--accent-two);
    border: 1px solid var(--light);
    border-radius: 25%;
    box-shadow: 2px 2px 4px var(--dark);
    cursor: pointer;
    height: auto;
    margin: 1em;
    padding: .3em;
    width: 35px;
}

.card-body h2,
.card-body h3,
.card-body h4,
.card-body p {
    margin-left: 1em;
}

.card-body {
    height: 260px;
    position: relative;
}

.card-name {
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 8em;
    text-transform: uppercase;
}

.card-date {
    font-weight: 400;
    margin-top: .5em;
}

.card-link {
    color: var(--accent-two);
    cursor: pointer;
    font-weight: 700;
}

.card-breed,
.card-traits {
    font-weight: 400;
    margin: 0;
}

.card-find-more {
    color: var(--accent-one);
    cursor: pointer;
    font-weight: 700;
    width: 90%;
}

.card-more-pics {
    font-weight: 700;
    margin-top: 0;
    position: absolute;
    right: 1em;
    top: 9em;
}

/* large - 3 cards across */
@media only screen and (max-width: 1810px) {

    body,
    .header-image {
        height: auto;
        width: 933px;
    }

    header {
        height: 375px;
        width: 933px;
    }

    .card-container {
        display: grid;
        grid-gap: 1em;
        grid-row: 3;
        grid-template-columns: repeat(3, 300px);
        justify-content: center;
        margin: auto;
    }

    .small-nav {
        display: none;
    }

    .title-large {
        grid-row: 2;
    }
}

/* medium - 2 cards across */
@media only screen and (max-width: 1355px) {

    body,
    header,
    .header-image {
        width: 623px;
    }

    header,
    .header-right {
        height: 250px;
    }

    .logo-area {
        height: 100px;
        width: 200px;
    }

    .logo-name {
        font-size: medium;
    }

    .logo {
        margin-left: .5em;
    }

    h1 {
        text-align: center;
    }

    .card-container {
        display: grid;
        grid-gap: 1.1em;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        margin: auto;
    }

    .nav {
        display: none;
    }

    .small-nav {
        display: block;
    }

    .small-nav img {
        margin-top: 10em;
    }
}

/* smallest - 1 card wide*/
@media only screen and (max-width: 900px) {

    body,
    header,
    .header-image {
        width: 302px;
    }

    header {
        height: 100px;
        display: flex;
        flex-direction: row;
    }

    .header-image {
        width: 300px;
        height: auto;
    }

    .card-container {
        display: grid;
        grid-gap: 1.1em;
        grid-row: 3;
        grid-template-columns: 300px;
        justify-content: center;
        margin: auto;
    }

    .title-large {
        display: none;
    }

    .logo-title-small {
        display: flex;
        grid-row: 2;
        text-align: center;
    }

    .logo-area,
    .nav,
    .login {
        display: none;
    }

    .small-nav img {
        justify-content: flex-end;
        margin: 1em;
    }
}